.padre {
    width: 400px;
    height: 400px;
    background-color: blue;
}

.hijo {
    width: 50%;
    height: 50%;
    background-color: beige;
    border-style: dotted;
    border-color: rgb(255, 159, 6);
}